.about-page {
  .hero {
    + .divider {
      transform: translateY(-2rem) scaleX(-1);

      .top-right {
        fill: var(--c-dark-700);
      }

      .bottom-left {
        fill: var(--c-accent-500);
      }
    }
  }

  &__company {
    + .divider {
      transform: translateY(-2rem) scaleY(-1);

      .top-right {
        fill: var(--c-dark-700);
      }

      .bottom-left {
        fill: var(--c-accent-500);
      }
    }
  }

  &__competencies {
    + .divider {
      transform: translateY(-2rem) scaleY(-1) scaleX(-1);

      .top-right {
        fill: var(--c-light-100);
      }

      .bottom-left {
        fill: var(--c-accent-500);
      }
    }
  }
}
